html,
body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", Arial, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #323232;
	font-weight: normal;
	background-color: #849d8f;
}

.radio-toggle {
	display: none;
}

/* Стили шрифтов */

.promo-caption {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
}

.feedback-caption {
	font-size: 24px;
	line-height: 28px;
	color: #323232;
	font-weight: bold;
}

.catalog-caption {
	font-size: 35px;
	line-height: 41px;
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 1px;
}

.item-caption-for-hit a,
.item-caption a {
	font-size: 16px;
	line-height: 22px;
	color: #ffffff;
	font-weight: medium;
}

/* Скрыть заголовки доступно */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Слайд + одновременный фон */

.site-wrapper::before,
.site-wrapper::after {
	content: "";
	visibility: hidden;
}

.site-wrapper::before {
	background-image: url("../img/slide2.png");
}

.site-wrapper::after {
	background-image: url("../img/slide3.png");
}

.site-wrapper {
	min-width: 1200px;
	background-color: #849d8f;
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider-wrap {
	width: 1146px;
	position: relative;
	padding-top: 270px;
	margin: 0 auto;
	
}

.slider {
	width: 700px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 40px;
}

.slide {
	display: none;
	width: 1146px;
	margin: 0 auto;
}

.slide-title {
	width: 700px;
	margin: 0 auto;
	margin-top: -9px;
	margin-bottom: 30px;
	font-weight: bold;
	font-size: 60px;
	line-height: 60px;
}

.slide-btn {
	display: inline-block;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 32px;
	line-height: 44px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.button {
	display: inline-block;
	margin-right: 10px;
	padding: 11px 22px;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	vertical-align: top;
	color: #ffffff;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	white-space: nowrap;
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	border: none;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
	cursor: pointer;
}

.slide-btn:hover,
.button:hover {
	background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
	background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active,
.button:active {
	background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
	background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
	box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
	position: absolute;
	bottom: 21px;
	left: 0;
	z-index: 20;
	font-size: 0;
}

.slider-controls label:hover {
	background-color: #b2c1b7;
}

.slider-controls label {
	display: inline-block;
	width: 17px;
	height: 17px;
	margin-right: 8px;
	vertical-align: top;
	background-color: transparent;
	border: 2px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
	display: block;
}

#btn-1:checked ~ .site-wrapper {
	background-color: #849d8f;
	background-image: url("../img/slide1.png");
}

#btn-2:checked ~ .site-wrapper {
	background-color: #8996a6;
	background-image: url("../img/slide2.png");
}

#btn-3:checked ~ .site-wrapper {
	background-color: #9d8b84;
	background-image: url("../img/slide3.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
	background-color: #ffffff;
}

/* Хэдер */

.main-header {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 1200px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.logo-menu {
	display: flex;
	width: 800px;
}

.logo-header {
	width: 154px;
	margin-top: 9px;
	margin-left: 27px;
}

/* Навигация */

.site-navigation {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	justify-content: flex-start;
	width: 100%;
	padding: 0;
	margin: 0;
	margin-top: 22px;
	margin-left: 9px;
}

.head-sub-menu {
	position: relative;
	padding-top: 10px;
}

.sub-menu {
	position: absolute;
	top: 5px;
	display: none;
	box-sizing: border-box;
	width: 143px;
	margin-left: -7px;
	padding: 0;
	overflow: hidden;
	list-style: none;
	background-color: rgba(248,247,244,1);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	z-index: 20;
}

.sub-menu .line-menu {
	position: relative;
	padding-top: 9px;
	padding-bottom: 10px;
	font-weight: bold;
}

.sub-menu .line-menu::after {
	content: "";
	position: absolute;
	right: 9px;
	bottom: 0;
	left: 6px;
	height: 1px;
	background-color: rgba(0,0,0,.2);
}

.site-navigation > li:hover .sub-menu {
	display: block;
}

.site-navigation a {
	display: block;
	padding: 8px 14px;
	color: #ffffff;
	text-decoration: none;
	border-radius: 15px;
}

.top-nav > a::after {
	content: "";
	display: block;
	height: 1px;
	background-color: rgba(255,255,255,.2);
}

li.top-nav:hover {
	font-weight: bold;
}

.sub-menu a {
	display: block;
	padding: 8px 5px 8px 22px;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	white-space: normal;
	text-decoration: none;
}

.site-navigation a:hover,
.site-navigation a:focus {
	color: #242424;
	background-color: #f7f6f3;
}

.sub-menu a:hover {
	color: #242424;
	background: #fbded7;
	border-radius: 0px;
}

.sub-menu a:active {
	color: #242424;
	background: #f6b5a5;
}

ul .top-nav-active {
	width: 87px;
	height: 33px;
	background: #d07058;
	border-radius: 15px;
	margin-left: 1px;
	margin-top: 1px;
}

li .active-nav {
	background: #d07058;
	color: #ffffff;
	border-radius: 0px;
}

/* Меню пользователя */

.user-menu-info {
	display: flex;
	width: 270px;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-left: auto;
	margin-right: 22px;
	margin-top: 23px;
	font-weight: 500;
	font-size: 14px;
	line-height: 15px;
}

/* Меню поиска */

.head-search {
	position: relative;
}

.button-search {
	display: flex;
	position: relative;
	width: 32px;
	height: 32px;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	border-radius: 50%;
}

.button-search svg {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}

.button-search:hover,
.button-search:hover .loupe {
	background-color: rgba(248,247,244,1);
	fill: #000000;
}

.search-window {
	display: none;
	transform: scale(0.8);
}

.button-search:hover + .search-window,
.button-search:focus + .search-window,
.search-window:hover {
	display: block;
	position: absolute;
	width: 342px;
	right: 0px;
	padding-top: 10px;
	transform: scale(1);
	opacity: 1;
	transition: all 150ms ease-out;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	border-radius: 10px;
	z-index: 20;
}

.search-window-content {
	display: block;
	position: relative;
	visibility: visible;
	height: 60px;
	background-color: rgba(248,247,244,1);
	padding: 15px;
	padding-top: 1px;
	border-radius: 10px;
}

.input-search {
	display: block;
	width: 100%;
	box-sizing: border-box;
	margin-top: 20px;
	padding: 10px 14px;
	overflow: hidden;
	color: #000;
	font-weight: bold;
	white-space: nowrap;
	border: 1px solid rgba(178,178,178,.5);
	border-radius: 5px;
	box-shadow: none;
}

.input-search:hover {
	padding: 9px 13px;
	border: 2px solid rgba(154,154,154,.52);
}

.label-search {
	position: absolute;
	visibility: hidden;
	top: 7px;
	left: 29px;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}

.input-search:focus + label {
	visibility: visible;
}

/* Меню входа */

.head-user {
	position: relative;
}

.button-user {
	position: relative;
	width: 52px;
	height: 21px;
	padding: 8px 6px 3px 33px;
	display: block;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	border-radius: 13px;
	vertical-align: middle;
	text-decoration: none;
}

.button-user svg {
	position: absolute;
	left: 16px;
	top: 6px;
}

.button-user:hover,
.button-user:hover .entrance {
	color: #000000;
	background-color: rgba(248,247,244,1);
	fill: #000000;
}

.user-window {
	display: none;
	transform: scale(0.8);
}

.button-user:hover + .user-window,
.button-user:focus + .user-window,
.user-window:hover {
	display: flex;
	justify-content: space-between;
	position: absolute;
	right: 0px;
	padding-top: 10px;
	transform: scale(1);
	opacity: 1;
	transition: all 150ms ease-out;
	width: 278px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	border-radius: 10px;
	z-index: 20;
}

.user-window-content {
	position: relative;
	text-align: center;
	width: 278px;
	height: 215px;
	background-color: rgba(248,247,244,1);
	border-radius: 10px;
}

.user-window-form {
	height: 215px;
}

.inner-login {
	display: flex;
	justify-content: space-between;
	text-align: left;
	align-items: center;
	width: 245px;
	height: 45px;
	margin-top: 20px;
	margin-left: 20px;
}

.label-email {
	position: absolute;
	top: 5px;
	left: 31px;
	visibility: hidden;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}

.input-email:focus + label {
	visibility: visible;
}

.label-password {
	position: absolute;
	top: 70px;
	left: 31px;
	visibility: hidden;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	height: 150px;
}

.input-password:focus + label {
	visibility: visible;
}

.input-email {
	margin-top: 20px;
}

.input-password {
	margin-top: 20px;
}

.input-email,
.input-password,
.input-subscription,
.input-user-feedback,
.input-email-feedback {
	width: 240px;
	height: 44px;
	box-sizing: border-box;
	padding: 10px 14px;
	overflow: hidden;
	color: #000;
	font-weight: bold;
	white-space: nowrap;
	border: 1px solid rgba(178,178,178,.52);
	border-radius: 5px;
	box-shadow: none;
}

.input-email:hover,
.input-password:hover,
.input-subscription:hover,
.input-user-feedback:hover,
.input-email-feedback:hover {
	padding: 9px 13px;
	border: 2px solid rgba(154,154,154,.52);
}

.input-user-feedback {
	width: 267px;
}

.input-text-feedback {
	width: 428px;
	box-sizing: border-box;
	padding: 15px 10px;
	overflow: hidden;
	color: #000;
	font-weight: bold;
	white-space: nowrap;
	border: 1px solid rgba(178,178,178,.52);
	border-radius: 5px;
	box-shadow: none;
	resize: none;
}

.input-text-feedback:hover {
	padding: 14px 9px;
	border: 2px solid rgba(154,154,154,.52);
}

.inner-login p {
	width: 130px;
}

.user-window-content a {
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	font-weight: normal;
	text-decoration: underline;
}

.user-window-content a:hover,
.user-window-content a:active {
	color: #ffbc9e;
}

/* Корзина */

.head-basket span {
	color: #ffffff;
 }

.basket-red {
	fill: #e84d37;
}

.button-empty-basket {
	position: relative;
	width: 72px;
	height: 19px;
	padding: 8px 17px 5px 27px;
	display: block;
	background-color: rgba(255,255,255,.2);
	text-align: center;
	border-radius: 15px;
	vertical-align: middle;
	text-decoration: none;
}

.button-empty-basket svg {
	position: absolute;
	left: 16px;
	top: 6px;
}

.button-empty-basket:hover,
.button-empty-basket:hover .basket,
.head-basket:hover span {
	color: #000000;
	background-color: rgba(248,247,244,1);
	fill: #000000;
}

/* Стилизация плэйсхолдеров */

::-webkit-input-placeholder {
	color: #b4b4b4;
	font-weight: 500;
}

::-moz-placeholder {
	color: #b4b4b4;
	font-weight: 500;
}

:-moz-placeholder {
	color: #b4b4b4;
	font-weight: 500;
}

:-ms-input-placeholder {
	color: #b4b4b4;
	font-weight: 500;
}

/* Инфо меню */

.info-menu {
	margin-top: 4px;
	margin-right: -84px;
	text-align: right;
	width: 180px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.info-menu a {
	display: block;
}

.tel-head {
	margin-top: 4px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
}

 /* Промо */

.promo {
	display: flex;
	margin: 0 auto;
	width: 1146px;
	justify-content: space-between;
}

.promo1 {
	width: 560px;
	min-height: 207px;
	margin-top: 1px;
	padding-bottom: 22px;
	background: #380108 url(../img/malina.jpg) no-repeat center;
	border-radius: 15px;
	background-size: cover;
}

.promo2 {
	width: 560px;
	min-height: 207px;
	margin-top: 1px;
	background: #5c321a url(../img/chokolate.jpg) no-repeat center;
	border-radius: 15px;
	background-size: cover;
	padding-bottom: 22px;
}

.promo1 h2,
.promo2 h2 {
	margin-left: 19px;
	margin-top: 16px;
}

.promo1 p,
.promo2 p {
	margin-top: -14px;
	margin-left: 19px;
	font-size: 18px;
	line-height: 22px;
	font-weight: bold;
	width: 520px;
	color: #ffffff;
}

.promo1 a {
	margin-left: 375px;
	margin-top: 27px;
}

.promo2 a {
	margin-left: 350px;
	margin-top: 26px;
}

/* Краткий каталог */

.item-list {
	display: flex;
	margin-top: 25px;
	width: 1146px;
	margin: 0 auto;
	text-decoration: none;
}

.ice-cream-catalog {
	display: flex;
	justify-content: space-between;
	min-width: 1146px;
	flex-wrap: wrap;
	margin-top: 35px;
	margin-left: -40px;
	list-style: none;
}

.ice-cream-catalog p {
	width: 267px;
	height: 267px;
	text-align: center;
	text-decoration: underline;
	color: #ffffff;
}

.catalog-item {
	position: relative;
	text-align: center;
	width: 267px;
	padding: 0;
	padding-top: 5px;
	margin: 0;
	margin-bottom: 35px;
	margin-right: 23px;
}

.item-price {
	position: absolute;
	left: 0px;
	top: 214px;
	color: #ffffff;
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
	text-shadow: 0 1px 3px rgba(49,50,53,.5);
	z-index: 1;
}

.item-price .ruble {
	position: absolute;
	top: 6px;
	left: 80px;
	z-index: 1;
}

.item-price .min-kg {
	position: absolute;
	top: 6px;
	left: 113px;
	font-size: 30px;
	white-space: nowrap;
	z-index: 1;
}

.hit {
	position: absolute;
	z-index: 2;
}

.catalog-item:hover::before {
	content: "";
	position: absolute;
	left: -9px;
	top: -5px;
	display: block;
	width: 285px;
	min-height: 405px;
	background-color: rgba(255,255,255,.2);
	border-radius: 5px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	z-index: 1;

}

.catalog-item:hover .item-button {
	position: absolute;
	left: 150px;
	display: block;
	margin: 10px 10px 10px -101px;
	padding: 10px 18px;
	text-align: center;
	z-index: 2;
}

.catalog-image-container .item-button {
	text-decoration: none;
	display: none;
}

.item-caption-for-hit a,
.item-caption a {
	border-bottom: 1px solid rgba(255,255,255,0.2);
	text-decoration: none;
}

.item-caption-for-hit {
	max-width: 256px;
	min-height: 40px;
	margin-left: 6px;
	margin-top: 4px;
}

.item-caption {
	max-width: 256px;
	min-height: 40px;
	margin-left: 5px;
	margin-top: 1px;
}

.catalog-image-container .catalog-ice {
	margin-bottom: 2px;
}

/* Инфо магазина */

.info-gllacy {
	display: flex;
	width: 1146px;
	height: 307px;
	margin-right: auto;
	margin-left: auto;
	margin-top: -13px;
}

.info-about-us {
	max-width: 1146px;
	padding: 0px;
	background: #ebdfc6 url(../img/wafer.png);
	border-radius: 15px;
}

.info-caption {
	display: block;
	width: 100%;
	padding-left: 21px;
	padding-top: 25px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
}

.features {
	margin: 0;
	padding: 0;
}

.feature {
	display: inline-block;
	box-sizing: border-box;
	width: 565px;
	margin-right: 2px;
	padding: 17px 8px 10px 76px;
	list-style-type: none;
	vertical-align: top;
	color: #323232;
}

.info-gllacy li {
	list-style: none;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin-top: 4px;
}

.features li:nth-child(2) {
	margin-top: 4px;
	margin-left: -3px;
}

.features li:nth-child(3) {
	margin-top: -4px;
}

.features li:nth-child(4) {
	margin-top: -5px;
	margin-left: -3px;
}

.feature {
	position: relative;
}

.feature1::before {
	content: "";
	position: absolute;
	background-image: url(../img/ice-cream.svg);
	width: 49px;
	height: 49px;
	left: 20px;
	top: 4px;
}

.feature2::before {
	content: "";
	position: absolute;
	background-image: url(../img/cow.svg);
	width: 49px;
	height: 49px;
	left: 18px;
	top: 4px;
}

.feature3::before {
	content: "";
	position: absolute;
	background-image: url(../img/eco.svg);
	width: 49px;
	height: 49px;
	left: 20px;
	top: 3px;
}

.feature4::before {
	content: "";
	position: absolute;
	background-image: url(../img/thermometer.svg);
	width: 49px;
	height: 49px;
	left: 18px;
	top: 4px;
}

/* Новости */

.container-news-subscription {
	display: flex;
	width: 1146px;
	justify-content: space-around;
	margin: 0 auto;
	margin-top: 40px;
}

.news {
	background: #ffffff url(../img/strawberry.jpg) no-repeat center;
	width: 560px;
	min-height: 195px;
	border-radius: 15px;
	margin-right: 23px;
	padding-bottom: 25px;
	background-size: cover;
}

.subscription {
	background: #f8f7f4 url(../img/post-bg.png) no-repeat center;
	width: 560px;
	min-height: 195px;
	border-radius: 15px;
	background-size: cover;
}

.news p {
	margin-left: 19px;
	margin-top: 22px;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.news a {
	display: flex;
	width: 285px;
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	margin-left: 19px;
	margin-top: -11px;
	color: #323232;
	align-content: center;
	text-decoration: underline;
}

.news a:hover,
.news a:active {
	color: #e84d37;
}

.subscription {
	display: flex;
	flex-wrap: wrap;
}

.subscription p {
	padding: 18px 26px 0px 27px;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	margin-top: 15px;
}

.subscription-form {
	display: flex;
	position: relative;
	justify-content: space-between;
	width: 510px;
	margin-left: 25px;
	margin-bottom: 40px;
}

.input-subscription {
	width: 369px;
	height: 44px;
	margin-top: 21px;
	margin-right: 8px;
	box-sizing: border-box;
}

.subscription-form button {
	width: 128px;
	height: 45px;
	padding: 0px 0px 2px 3px;
	margin-top: 19px;
	margin-right: 1px;
	vertical-align: top;
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
}

.label-subscription {
	position: absolute;
	visibility: hidden;
	top: 7px;
	left: 15px;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
	white-space: nowrap;
}

.input-subscription:focus + label {
	visibility: visible;
}

.map {
	position: relative;
	background:  #f7f1d9 url(../img/map.png) no-repeat center;
	width: 100%;
	margin-top: 38px;
	height: 430px;
}

.map .map-container {
	position: relative;
}

.map-container {
	width: 1146px;
	margin: 0 auto;
	padding-top: 47px;
	padding-bottom: 65px;
}

.google-map {
	position: absolute;
	width: 100%;
	min-height: 430px;
	z-index: 1;
}

.info-map {
	position: relative;
	width: 221px;
	height: 250px;
	background: #ffffff;
	border-radius: 15px;
	padding: 28px 40px;
	margin-left: 845px;
	margin-top: 15px;
	z-index: 2;
}

.map-pin {
	position: absolute;
	top: 138px;
	left: 338px;
}

.button-feedback {
	text-align: center;
	width: 208px;
	margin-left: -16px;
}

.info-map p {
	font-size: 14px;
	line-height: 20px;
	font-weight: lighter;
	font-style: normal;
	margin-left: -14px;
	margin-top: 1px;
}

.info-container span {
	display: block;
}

.info-address {
	width: 150px;
}

.address {
	font-size: 18px;
	line-height: 24px;
	font-weight: bold;
	margin-top: -1px;
	padding-top: 3px;
}

.info-tel {
	margin-top: 19px;
}

a.tel {
	font-size: 18px;
	line-height: 26px;
	color: #323232;
	font-weight: bold;
	text-decoration: none;
}

.work-time-map  {
	margin-top: 4px;
}

.button-feedback {
	margin-top: 8px;
}

/* Подвал */

.main-footer {
	display: flex;
	width: 1146px;
	justify-content: flex-start;
	margin-left: auto;
	margin-right: auto;
}

.footer-social ul {
	display: flex;
	justify-content: space-between;
	width: 190px;
	list-style: none;
	margin: 0 auto;
	margin-left: -9px;
	padding: 0;
	padding-right: 236px;
}

.social-button {
	display: flex;
	width: 32px;
	height: 32px;
	margin-top: 37px;
	margin-left: 14px;
	border-radius: 50%;
	box-shadow: 0 0 0 3px rgba(255,255,255,.6), inset 0 0 0 1px rgba(255,255,255,.6);
}

.social-button:hover path,
.social-button:focus path {
	fill: #ffffff;
}

.footer-menu,
.footer-menu-2 {
	display: flex;
	align-content: space-between;
	padding: 0;
	padding-right: 236px;
	list-style-type: none;
	margin-left: 4px;
	margin-top: 33px;
	width: 300px;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
	white-space: nowrap;
}

.footer-docs a {
	font-size: 13px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.footer-docs a:hover,
.footer-docs a:active {
	color: #ffbc9e;
}

.footer-menu li:nth-child(2) {
	margin-top: -1px;
	margin-left: 33px;
}

.footer-menu-2 li:nth-child(1) {
	margin-top: -30px;
	margin-left: 2px;
}

.footer-menu-2 li:nth-child(2) {
	margin-top: -30px;
	margin-left: 43px;
}

.heart {
	position: relative;
	font-weight: 700;
}

.heart::before {
	content: "❤";
	position: absolute;
	left: -20px;
	font-weight: normal;
	font-size: 16px;
}

.footer-docs .heart:first-child {
	font-weight: bold;
}

.copyright {
	margin-top: 14px;
	margin-right: -1px;
}

.copyright a + p {
	margin-top: -4px;
}

.copyright p {
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.copyright a.academy {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.copyright a:hover,
.copyright a:active {
	color: #ffbc9e;
}

/* ----------------Страница каталога--------------------- */

.button-user {
	color: #ffffff;
}

/* Корзина */

.head-basket-catalog {
	position: relative;
	height: 32px;
}

.head-basket-catalog span {
	color: #000000;
	margin-left: 13px;
}

.head-basket-catalog:hover span {
	color: #000000;
	margin-left: 13px;
}

.button-full-basket {
	position: relative;
	width: 72px;
	height: 19px;
	padding: 8px 17px 5px 28px;
	display: block;
	background-color: #ffffff;
	text-align: center;
	border-radius: 15px;
	vertical-align: middle;
	text-decoration: none;
}

.button-full-basket svg {
	position: absolute;
	left: 15px;
	top: 6px;
}

.button-full-basket:hover {
	background-color: #fff;
}

.basket-table-window {
	display: none;
	transform: scale(0.8);
}

.button-full-basket:hover + .basket-table-window,
.button-full-basket:focus + .basket-table-window,
.basket-table-window:hover {
	display: flex;
	position: absolute;
	right: 0px;
	padding-top: 10px;
	transform: scale(1);
	opacity: 1;
	transition: all 150ms ease-out;
	width: 540px;
	height: 215px;
	box-shadow: 0 20px 20px rgba(0,0,0,.4);
	z-index: 20;
}

.basket-window-content {
	display: flex;
	justify-content: space-around;
	text-align: left;
	background-color: #f8f7f4;
	border-radius: 10px;
}

.basket-window-form {
	width: 516px;
	height: 230px;
	margin-left: 24px;
}

.head-basket a {
	color: #323232;
}

.basket-table {
	width: 510px;
	margin-top: 15px;
	margin-left: -12px;
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
	color: #323232;
	border-bottom: 1px solid #cacac7;
}

.sum-total {
	display: flex;
	flex-wrap: wrap;
	width: 200px;
	height: 45px;
	justify-content: flex-end;
	margin-left: 300px;
	color: #000000;
}

.item-price-size p {
	display: inline;
	color: #a6a6a5;
}

.basket-close-button {
	width: 11px;
	height: 11px;
	font-size: 0;
	background: url(../img/close-X.png) no-repeat;
	margin-bottom: 11px;
	margin-left: -2px;
	border: none;
	outline: none;
	cursor: pointer;
}

.head-basket b {
	font-size: 15px;
	line-height: 18px;
	margin-right: 12px;
	color: #323232;
}

/* Хлебные крошки */

.breadcrumbs {
	display: flex;
	width: 1146px;
	margin-top: -31px;
	margin-right: auto;
	margin-left: auto;
}

.breadcrumbs  li {
	position: relative;
	margin-left: -33px;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
}

.breadcrumbs + h1 {
	width: 1146px;
	margin-top: -11px;
	margin-left: auto;
	margin-right: auto;
}

.breadcrumbs,
.breadcrumbs a {
	list-style: none;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	color: #ffffff;
}

.breadcrumbs a:hover {
	color: #ffbc9e;
}

.breadcrumbs li:nth-child(1),
.breadcrumbs li:nth-child(2) {
	padding: 0 13px;
	text-decoration: underline;
}

.breadcrumbs li:nth-child(2) {
	margin-left: -5px;
}

.breadcrumbs li:nth-child(3) {
	margin-left: -12px;
}

.breadcrumbs-active {
	padding: 0 20px;
}

.breadcrumbs li:nth-child(1)::after,
.breadcrumbs li:nth-child(2)::after {
	content: "»";
	position: absolute;
	right: 0;
	color: #fff;
}

/* Фильтры */

.filters {
	display: flex;
	width: 1146px;
	padding: 0;
	margin-right: auto;
	margin-left: auto;
	margin-top: 27px;
}

.filter-row1 {
	display: flex;
	width: 860px;
	padding: 0;
	margin: 0;
}

.filter-row2 {
	display: flex;
	width: 865px;
	padding: 0;
	margin: 0;
	margin-top: 15px;
}

.filter-form fieldset {
	margin: 0;
	padding: 0;
	margin-top: -2px;
	border: none;
}

.filter-form legend {
	padding-left: 16px;
	padding-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
}

/* Сортировка */

 select.sorting {
	width: 193px;
	height: 34px;
	padding-left: 15px;
	margin-top: -2px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	background: rgba(255,255,255,.2);
	background-image: url(../img/select-arrow.svg);
	background-repeat: no-repeat;
	background-position: 93% 40%;
	border-radius: 18px;
	border: none;
	cursor: pointer;
	-webkit-appearance: none;
	/* для FF */
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
	/* для IE */
	-ms-appearance: none;
	appearance: none;
}

select.sorting::-ms-expand {
	display: none;
}

 select.sorting:hover {
	color: #343434;
	background: #9db1a5;
	background-image: url(../img/select-arrow-black.svg);
	background-repeat: no-repeat;
	background-position: 93% 40%;
}

/* Цена */

.min-price {
	width: 30px;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-weight: inherit;
	
}

.max-price {
	width: 30px;
	text-align: center;
	background-color: transparent;
	border: none;
	color: #ffffff;
	font-weight: inherit;
}

.filter-price {
	margin-left: 14px;
	width: 220px;
}

.filter-price input {
	margin-left: -3px;
}

.filter-range {
	position: relative;
	width: 217px;
	height: 36px;
	margin-top: -5px;
	margin-left: 16px;
	background: rgba(255,255,255,.2);
	border-radius: 18px;
}

.range-control {
	color: #ffffff;
	height: 4px;
	background: #ffffff;
}

.range-controls .scale {
	position: absolute;
	width: 176px;
	height: 4px;
	top: 16px;
	margin-left: 21px;
	background: rgba(209, 218, 211, 1);
}

.range-controls .bar {
	width: 50%;
	height: 4px;
	margin-left: 30px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: 8px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
}

.range-toggle-min {
	left: 34px;
	top: 8px;
}

.range-toggle-max {
	left: 132px;
	top: 8px;
}

/*Жирность*/

.filter-fat {
	margin-left: 15px;
}

.fat-wrapper {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 400px;
	height: 36px;
	padding: 0px 0px 0px 14px;
	margin-left: 16px;
	margin-top: -3px;
	background: rgba(255,255,255,.2);
	border-radius: 18px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

.fat-wrapper span {
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
	margin-top: 1px;
}

.fat-wrapper .percent {
	margin-top: 4px;
}

.radio-container {
	position: relative;
	display: block;
	padding-left: 4px;
	padding-bottom: 3px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.zero span {
	margin-left: 26px;
	padding-left: 2px;
}

.ten span {
	margin-left: 45px;
}

.thirty span {
	margin-left: 45px;
}

.more-thirty span {
	margin-left: 47px;
}

.radio-container input {
	position: absolute;
	opacity: 0;
}

.radio-checkmark {
	position: absolute;
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 22px;
	height: 22px;
	top: 0px;
	left: -26px;
	background: url(../img/radio-off.svg);
	background-repeat: no-repeat;
}

.radio-checkmark:focus {
	outline: 1px solid blue;
}

/*
.radio-block {
	opacity: 0.3;
	cursor: default;
}
*/

.radio-container input:checked ~ .radio-checkmark {
	background: url(../img/radio-on.svg);
	background-repeat: no-repeat;
}

.radio-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.radio-container input:checked ~ .-radio-checkmark:after {
	display: block;
}

/* Наполнители */

.filter-fillers {
	padding-top: 4px;
}

.fillers {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 673px;
	height: 36px;
	padding: 0px 20px 0px 9px;
	margin-top: -5px;
	margin-left: 0px;
	background: rgba(255,255,255,.2);
	border-radius: 18px;
	color: #ffffff;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
}

.box-container {
	position: relative;
	display: block;
	padding-left: 40px;
	margin-bottom: 0px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.box-chokolate {
	margin-left: 0px;
}

.box-sugar {
	margin-left: 9px;
}

.box-fruit {
	margin-left: 14px;
}

.box-syrup {
	margin-left: 18px;
}

.box-jam {
	margin-left: 12px;
}

.box-container input {
	position: absolute;
	opacity: 0;
}

.box-checkmark {
	position: absolute;
	content: "";
	display: inline-block;
	vertical-align: top;
	width: 26px;
	height: 26px;
	top: -1px;
	left: 7px;
	background: url(../img/checkbox-off.svg);
	background-repeat: no-repeat;
}

/*
.box-block {
	opacity: 0.3;
	cursor: default;
}
*/

.box-container input:checked ~ .box-checkmark {
	background: url(../img/checkbox-on.svg);
	background-repeat: no-repeat;
}

.box-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.box-container input:checked ~ .box-checkmark:after {
	display: block;
}

/* Кнопка фильтра*/

.filter-button {
	width: 146px;
	height: 34px;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	background: #9cb0a4;
	color: #ffffff;
	border: 2px solid white;
	border-radius: 20px;
	margin-top: 24px;
	margin-left: 13px;
	padding-top: 2px;
	padding-left: 7px;
}

.filter-button:hover {
	background: #ffffff;
	color: #323232;
	border: 1px solid white;
	border-radius: 20px;
}

.filter-button:focus {
	background: #eaeaea;
	color: #323232;
	border: 1px solid white;
	border-radius: 20px;
    box-shadow: inset 0 2px 1px #696969;
}

.filter button:hover,
.filter button:focus {
	color: #323232;
}

/* Каталог */

.item-list {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.catalog-item:nth-child(4n) {
	margin-right: 0;
}

.catalog-item a {
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
}

.catalog-image-container img {
	margin-top: 0px;
	padding-top: 0px;
	margin-bottom: 5px;
}

/* Пагинатор */

.pagination-list {
	display: flex;
	justify-content: flex-end;
	min-width: 1146px;
	padding: 0px;
	padding-bottom: 19px;
	margin-left: 8px;
	margin-top: 33px;
	list-style-type: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: normal;
	color: #ffffff;
}

.pagination-list a {
	position: relative;
	margin-left: 3px;
	padding: 3px 9px 3px 9px;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-decoration: none;
}

.pagination-item-current a {
	color: black;
	margin-left: 3px;
	padding: 3px 9px 3px 9px;
	background-color: white;
	border-radius: 50%;
}

.pagination-click a:hover {
	margin-left: 3px;
	padding: 3px 9px 3px 9px;
	border-radius: 50%;
	background: #9db1a5;
}

.pagination-click a:active {
	margin-left: 3px;
	padding: 3px 9px 3px 9px;
	border-radius: 50%;
	background: #ffffff;
	color: #000000;
}

.not-active {
	opacity: 0.3;
	transform: rotate(180deg);
}

.not-active a {
	cursor: default;
}

.item-list {
	border-bottom: 1px solid white;
}

/* Всплывающая форма */

.modal {
	position: fixed;
	background: #f8f7f4;
	border-radius: 15px;
	z-index: 100;
}

.modal-feedback {
	top: 20%;
	left: 33.3%;
	width: 450px;
	height: 430px;
	padding-left: 24px;
	display: none;
}

.input-text-feedback {
	height: 155px;
	margin-top: -10px;
}

.modal-close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 22px;
	height: 22px;
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}

.modal-close::before,
.modal-close::after {
	content: "";
	position: absolute;
	top: 10px;
	right: 2px;
	width: 19px;
	height: 3px;
	background-color: #231f20;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.feedback-form {
	display: flex;
	position: relative;
	flex-direction: column;
	margin-top: -20px;
}

.input-email-feedback {
	width: 267px;
	margin-top: -20px;
}

.label-user-feedback {
	position: absolute;
	top: 1px;
	left: 15px;
	visibility: hidden;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}

.input-user-feedback:focus + label {
	visibility: visible;
}

.input-user-feedback:valid:focus + label {
	color: #999999;
}

.label-email-feedback {
	position: absolute;
	top: 67px;
	left: 15px;
	visibility: hidden;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}

.input-email-feedback:focus + label {
	visibility: visible;
}

.input-email-feedback:valid:focus + label {
	color: #999999;
}

.label-text-feedback {
	position: absolute;
	top: 132px;
	left: 11px;
	visibility: hidden;
	color: rgba(91, 157, 223, 1);
	font-size: 11px;
	line-height: 13px;
	font-weight: normal;
}

.input-text-feedback:focus + label {
	visibility: visible;
}

.input-text-feedback:valid:focus + label {
	color: #999999;
}

.btn-fb {
	margin-top: -20px;
	margin-left: 286px;
}

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
	}

	70% {
		transform: translateY(30px);
	}

	90% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

.modal-error {
	animation: shake 0.6s;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
	}
}